<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">
  
  
  <servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>cn.servlet.loginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>cn.servlet.registerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>resetpasswordServlet</servlet-name>
		<servlet-class>cn.servlet.resetpasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>resetuserinfoServlet</servlet-name>
		<servlet-class>cn.servlet.resetuserinfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>newpostServlet</servlet-name>
		<servlet-class>cn.servlet.newpostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>homeServlet</servlet-name>
		<servlet-class>cn.servlet.homeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>postinfoServlet</servlet-name>
		<servlet-class>cn.servlet.postinfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>replyServlet</servlet-name>
		<servlet-class>cn.servlet.replyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>allpostServlet</servlet-name>
		<servlet-class>cn.servlet.allpostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mypostServlet</servlet-name>
		<servlet-class>cn.servlet.mypostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>collectServlet</servlet-name>
		<servlet-class>cn.servlet.collectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mycollectionsServlet</servlet-name>
		<servlet-class>cn.servlet.mycollectionsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>followServlet</servlet-name>
		<servlet-class>cn.servlet.followServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>myfollowServlet</servlet-name>
		<servlet-class>cn.servlet.myfollowServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>followinfoServlet</servlet-name>
		<servlet-class>cn.servlet.followinfoServlet</servlet-class>
	</servlet>
  	<servlet-mapping>
  		<servlet-name>followinfoServlet</servlet-name>
  		<url-pattern>/followinfoServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>myfollowServlet</servlet-name>
  		<url-pattern>/myfollowServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>followServlet</servlet-name>
  		<url-pattern>/followServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>mycollectionsServlet</servlet-name>
  		<url-pattern>/mycollectionsServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>collectServlet</servlet-name>
  		<url-pattern>/collectServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>mypostServlet</servlet-name>
  		<url-pattern>/mypostServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>allpostServlet</servlet-name>
  		<url-pattern>/allpostServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>replyServlet</servlet-name>
  		<url-pattern>/replyServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>postinfoServlet</servlet-name>
  		<url-pattern>/postinfoServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>homeServlet</servlet-name>
  		<url-pattern>/homeServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>newpostServlet</servlet-name>
  		<url-pattern>/newpostServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>resetuserinfoServlet</servlet-name>
  		<url-pattern>/resetuserinfoServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>resetpasswordServlet</servlet-name>
  		<url-pattern>/resetpasswordServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>registerServlet</servlet-name>
  		<url-pattern>/registerServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>loginServlet</servlet-name>
  		<url-pattern>/loginServlet</url-pattern>
  	</servlet-mapping>
  
     <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>homeServlet</welcome-file>
    </welcome-file-list>

</web-app>